.show{
    /* opacity: 1; */
    /* transition:all 1.5s ease-in; */
    animation: show-item 2s ease-in forwards;
}
.hide{
    /* opacity: 0;
    transition:all 1.5s ease-in; */
    animation: hide-item 2s ease-in forwards;
}

@keyframes hide-item{
    0% {
       opacity: 1;
       color:red; 
    }
    50% {
        opacity: .5;
        color:orange;
    }
    100% {
        opacity: 0;
        color: yellow;
    }
}

@keyframes show-item{
    0% {
       opacity: 0;
       color:yellow; 
    }
    50% {
        opacity: .5;
        color:orange;
    }
    100% {
        opacity: 1;
        color: red;
    }
}